# WEBSITE
BASE_URL=""
REVALIDATION_SECRET=""

# BASIC AUTH
BASIC_AUTH_USERNAME=""
BASIC_AUTH_PASSWORD=""
BASIC_AUTH_BYPASS=""

# SANITY.IO
SANITY_STUDIO_PROJECT_ID=""
SANITY_STUDIO_DATASET=""

# DEFAULT CONTENT
DEFAULT_EMAIL_ADDRESS=""
DEFAULT_SOCIAL_LINK_GITHUB=""
DEFAULT_SOCIAL_LINK_LINKEDIN=""
DEFAULT_RESUME_URL=""